ol {
	margin: 0;
	padding: 0
}

.c42 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 72pt;
	background-color: #ffffff;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c35 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 126.8pt;
	background-color: #ffffff;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c19 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 90.8pt;
	background-color: #e6e6e6;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c25 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 90.8pt;
	background-color: #ffffff;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c89 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 100.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c32 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 317.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c12 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 175.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c11 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 318.8pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c53 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 132.8pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c91 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 72pt;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c23 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 292.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c36 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 234pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c58 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 63.6pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c37 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 330pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c1 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 146.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c63 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 466.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c74 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 67.5pt;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c49 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 122.2pt;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c82 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 291pt;
	border-right-style: solid;
	padding: 3pt 3pt 3pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c70 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 87pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c85 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 462.8pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c92 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 126.8pt;
	border-right-style: solid;
	padding: 5pt 3pt 5pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c78 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 317.4pt;
	border-right-style: solid;
	padding: 3pt 3pt 3pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c88 {
	border-bottom-width: 0pt;
	border-top-style: solid;
	width: 76.5pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 0pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 0pt;
	border-left-width: 0pt
}

.c55 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 320.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c79 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 468pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c84 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 468pt;
	border-right-style: solid;
	padding: 3pt 3pt 3pt 3pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c20 {
	border-bottom-width: 1pt;
	border-top-style: solid;
	width: 149.2pt;
	border-right-style: solid;
	padding: 5pt 5pt 5pt 5pt;
	border-bottom-color: #000000;
	border-top-width: 1pt;
	border-bottom-style: solid;
	vertical-align: top;
	border-top-color: #000000;
	border-left-color: #000000;
	border-right-color: #000000;
	border-left-style: solid;
	border-right-width: 1pt;
	border-left-width: 1pt
}

.c22 {
	vertical-align: baseline;
	color: #000000;
	font-size: 11pt;
	font-style: normal;
	background-color: #e6e6e6;
	font-family: "Arial";
	text-decoration: none;
	font-weight: normal
}

.c8 {
	vertical-align: baseline;
	color: #000000;
	font-size: 10pt;
	font-style: normal;
	font-family: "Arial";
	text-decoration: none;
	font-weight: bold
}

.c6 {
	vertical-align: baseline;
	font-size: 10pt;
	font-style: normal;
	font-family: "Arial";
	text-decoration: none;
	font-weight: normal
}

.c28 {
	vertical-align: baseline;
	color: #000000;
	font-style: normal;
	font-family: "Arial";
	text-decoration: underline;
	font-weight: normal
}

.c5 {
	line-height: 1.0;
	padding-top: 0pt;
	text-align: left;
	direction: ltr;
	padding-bottom: 0pt
}

.c17 {
	line-height: 1.0;
	widows: 2;
	orphans: 2;
	text-align: center;
	direction: ltr
}

.c21 {
	line-height: 1.0;
	widows: 2;
	orphans: 2;
	text-indent: 57pt;
	direction: ltr
}

.c2 {
	line-height: 1.0;
	widows: 2;
	orphans: 2;
	text-align: justify;
	direction: ltr
}

.c59 {
	padding-top: 0pt;
	text-align: center;
	direction: ltr;
	padding-bottom: 0pt
}

.c14 {
	widows: 2;
	orphans: 2;
	text-align: right;
	direction: ltr
}

.c33 {
	vertical-align: baseline;
	font-style: normal;
	font-family: "Arial";
	text-decoration: none
}

.c64 {
	padding-top: 0pt;
	margin-right: -39pt;
	margin-left: -6.8pt;
	padding-bottom: 0pt
}

.c34 {
	vertical-align: baseline;
	font-style: normal;
	font-family: "Arial"
}

.c62 {
	margin-right: auto;
	border-collapse: collapse;
	margin-left: 4.2pt
}

.c15 {
	widows: 2;
	orphans: 2;
	margin-left: 3pt
}

.c4 {
	color: #4c4c4c;
	font-size: 10pt;
	font-weight: bold
}

.c24 {
	margin-right: auto;
	border-collapse: collapse
}

.c51 {
	widows: 2;
	orphans: 2;
	direction: ltr
}

.c48 {
	margin-right: auto;
	border-collapse: collapse;
	margin-left: 0.5pt
}

.c52 {
	padding-top: 0pt;
	margin-left: 3pt;
	padding-bottom: 0pt
}

.c66 {
	padding-top: 24pt;
	padding-bottom: 6pt;
	page-break-after: avoid
}

.c9 {
	font-size: 10pt;
	background-color: #ffffff
}

.c39 {
	color: #000000;
	font-weight: normal
}

.c83 {
	max-width: 468pt;
	margin: 0 auto;
	padding: 0;
}

.c68 {
	padding-top: 0pt;
	padding-bottom: 0pt
}

.c80 {
	margin-right: -6pt;
	margin-left: -8.2pt
}

.c87 {
	widows: 2;
	orphans: 2
}

.c43 {
	margin: 5px;
	border: 1px solid black
}

.c86 {
	text-indent: 41pt;
	margin-left: 15pt
}

.c10 {
	font-size: 10pt;
	font-weight: bold
}

.c47 {
	padding-top: 0pt;
	padding-bottom: 3pt
}

.c81 {
	padding-top: 9pt;
	padding-bottom: 9pt
}

.c38 {
	text-indent: 36pt
}

.c13 {
	font-weight: bold
}

.c61 {
	text-indent: 71pt
}

.c56 {
	height: 45pt
}

.c75 {
	text-indent: 63pt
}

.c90 {
	margin-left: -13.5pt
}

.c77 {
	margin-left: 57pt
}

.c7 {
	font-size: 8pt
}

.c18 {
	padding-bottom: 14pt
}

.c3 {
	height: 11pt
}

.c72 {
	font-size: 16pt
}

.c73 {
	font-family: "Arial"
}

.c76 {
	color: #808080
}

.c41 {
	line-height: 1.0
}

.c65 {
	text-indent: 58pt
}

.c27 {
	height: 0pt
}

.c29 {
	font-size: 10pt
}

.c69 {
	margin-left: 36pt
}

.c46 {
	color: #000000
}

.c67 {
	color: #666666
}

.c26 {
	text-align: justify
}

.c40 {
	background-color: #e6e6e6
}

.c57 {
	background-color: #ffffff
}

.c31 {
	margin-left: 43pt
}

.c50 {
	height: 21pt
}

.c54 {
	font-size: 11pt
}

.c45 {
	margin-left: 17pt
}

.c44 {
	text-indent: 56pt
}

.c60 {
	text-align: center
}

.c30 {
	text-decoration: underline
}

.c71 {
	margin-left: 45pt
}

.c16 {
	font-size: 9pt
}

.c0 {
	color: #ff0000
}

.title {
	widows: 2;
	padding-top: 0pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #000000;
	font-size: 21pt;
	font-family: "Trebuchet MS";
	padding-bottom: 0pt;
	page-break-after: avoid
}

.subtitle {
	widows: 2;
	padding-top: 0pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 13pt;
	font-family: "Trebuchet MS";
	padding-bottom: 10pt;
	page-break-after: avoid
}

li {
	color: #000000;
	font-size: 11pt;
	font-family: "Arial"
}

p {
	color: #000000;
	font-size: 11pt;
	margin: 0;
	font-family: "Arial"
}

h1 {
	widows: 2;
	padding-top: 10pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #000000;
	font-size: 16pt;
	font-family: "Trebuchet MS";
	padding-bottom: 0pt;
	page-break-after: avoid
}

h2 {
	widows: 2;
	padding-top: 10pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #000000;
	font-size: 13pt;
	font-family: "Trebuchet MS";
	font-weight: bold;
	padding-bottom: 0pt;
	page-break-after: avoid
}

h3 {
	widows: 2;
	padding-top: 8pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #666666;
	font-size: 12pt;
	font-family: "Trebuchet MS";
	font-weight: bold;
	padding-bottom: 0pt;
	page-break-after: avoid
}

h4 {
	widows: 2;
	padding-top: 8pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #666666;
	font-size: 11pt;
	text-decoration: underline;
	font-family: "Trebuchet MS";
	padding-bottom: 0pt;
	page-break-after: avoid
}

h5 {
	widows: 2;
	padding-top: 8pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #666666;
	font-size: 11pt;
	font-family: "Trebuchet MS";
	padding-bottom: 0pt;
	page-break-after: avoid
}

h6 {
	widows: 2;
	padding-top: 8pt;
	line-height: 1.15;
	orphans: 2;
	text-align: left;
	color: #666666;
	font-style: italic;
	font-size: 11pt;
	font-family: "Trebuchet MS";
	padding-bottom: 0pt;
	page-break-after: avoid
}
