body{
	padding: 0;
	margin: 0;
}


.form_container{
	position: absolute;
	display: inline-block;
	width: 500px;
	margin-left: -250px;
	left: 50%;
	box-sizing: border-box;
	padding: 10px;	
}

input[type='text'], select, .input-xlarge{
	height: 40px;
	border-radius: 10px;
	font-size: 20px;
	box-sizing: border-box;
}

input.input-xlarge.dt{
	width: 80px;
	text-align: center;
	box-sizing: border-box;
}

select:focus{
	outline: none;
}

.controls{
	font-size: 20px;
}

label{
	font-size: 17px;
}

.form-horizontal .control-label{
	width: 200px;
	padding-right: 20px;
}

textarea{
	min-width: 270px;
	box-sizing: border-box;
	min-height: 110px;
	font-size: 17px;
	line-height: 20px;
}

fieldset{
	width: 600px;

}



@media screen and (max-device-width: 770px), screen and (max-width: 770px) {

	textarea{
		width: 300px;
	}

}
@media screen and (max-device-width: 480px), screen and (max-width: 480px) {

	textarea{
		width: 100%;
	}

	.form_container{
		width: 100%;
		margin: 0 auto;
		left: 0;
	}

	label{
		font-size: 19px;
	}

	legend{
		font-size: 25px;
	}

}
